<div class="container" >
    <div class="success" *ngIf="showSucessMessage">
        Saved successfully
      </div>
    <div class="col">
        <div class="row">
            <div class="col mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="e-profile">
                            <div class="tab-content pt-3">
                                <div class="tab-pane active">
                                    <!-- form -->
                                    <form class="form" [formGroup]="editProfileForm" (ngSubmit)="onUpdateValues()"
                                        novalidate="" id="controls">
                                        <div class="row">
                                            <div class="col">
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <label>Full Name</label>
                                                            <input class="form-control" type="text"
                                                                formControlName="fullname" placeholder="{{fullname}}">
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="col">
                                                            <div class="form-group">
                                                                <label style="display: block;">Email</label>
                                                                <input class="form-control" type="text"
                                                                    formControlName="email" placeholder="{{email}}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="row">
                                            <div class="col-12 col-sm-6 mb-3">
                                                <div class="mb-2"><b>Change Password</b></div>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <label>New Password</label>
                                                            <input class="form-control" type="password"
                                                                formControlName="password" placeholder="••••••">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <label>Confirm <span
                                                                    class="d-none d-xl-inline">Password</span></label>
                                                            <input formControlName="confirmPassword"
                                                                class="form-control" type="password"
                                                                placeholder="••••••">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> -->
                                        <button class="btn btn-primary" type="submit">Save Changes</button>
                                        <ngx-spinner *ngIf="isLoading" bdColor="rgba(0, 0, 0, 0.8)" size="default"
                                            color="#fff" type="line-spin-fade" [fullScreen]="true">
                                            <p style="color: white"> Loading... </p>
                                        </ngx-spinner>
                                                <button class="btn btn-warning" type="button" (click)="onGetProfile()">Go to Profile</button>
                                        <!-- form -->
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>